body {
    background-color: rgb(7, 7, 7);
}

img {
    width: 100%;
    transition: 0.5s;
}

div.green {
    background-color: RGB(163, 207, 154);
}

div.purple {
    background-color: RGB(164, 131, 184)
}

div.center {
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color:white;
}

div.box {
    border: 5px dotted white;
    height: 500px;
    width: 500px;
    padding: 20px;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}

div.marginauto {
    margin-left: auto;
    margin-right: auto;
}

div.folio {
    color: white;
    font-family: ibm-plex-mono;
    font-size: 14pt;
    color:white;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    display: flex;
    justify-content: space-between;
}

div.bigtitle {
    font-family: eurostile;
    color: white;
    font-size: 125pt;
    font-weight: bolder;
    letter-spacing: -4;
    line-height: 0.85;
}

div.title {
    font-family: eurostile;
    color: white;
    font-size: 80pt;
    font-weight: bolder;
    letter-spacing: -2;
    line-height: 0.85;
}

div.subheader {
    font-family: eurostile;
    color: white;
    font-size: 48pt;
    font-weight: bold;
    letter-spacing: -2;
    line-height: 0.95;
}

div.quote {
    font-family: ibm-plex-mono;
    color: white;
    font-size: 22pt;
    font-weight: normal;
    letter-spacing: -1;
    line-height: 0.99;
}

div.quote1 {
    font-family: ibm-plex-mono;
    color: RGB(164, 131, 184);
    font-size: 22pt;
    font-weight: normal;
    letter-spacing: -1;
    line-height: 0.99;
}

div.footnote1 {
    font-family: ibm-plex-mono;
    color: black;
    font-size: 12pt;
    font-weight: bold;
}

div.footnote2 {
    font-family: ibm-plex-mono;
    color: RGB(164, 131, 184);
    font-size: 12pt;
    font-weight: bold;
}

div.footnote {
    font-family: ibm-plex-mono;
    color: white;
    font-size: 12pt;
    font-weight: bold;
}

span.smallnote {
    font-family: ibm-plex-mono;
    color: white;
    font-size: 12pt;
    font-weight: bold;
}

div.padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.marginleft50 {
    margin-left: 50px;
}

div.marginleft25 {
    margin-left: 25px;
}

div.marginright25 {
    margin-right: 25px;
}

div.margintop10 {
    margin-top: 10px;
}

div.margintop25 {
    margin-top: 20px;
}

div.margintop50 {
    margin-top: 50px;
}

div.margintop100 {
    margin-top: 100px;
}

div.margintop200 {
    margin-top: 200px;
}

div.margintop350 {
    margin-top: 350px;
}

div.width100 {
    width: 100%;
}

div.width90 {
    width: 90%;
}

div.width80 {
    width: 80%;
}

div.width60 {
    width: 60%;
}

div.width50 {
    width: 50%;
}

div.width40 {
    width: 40%;
}

div.width30 {
    width: 30%;
}

div.width20 {
    width: 20%;
}

div.width10 {
    width: 10%;
}

div.typing {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    line-height: 1.5;
    padding-bottom: 0.15em;
    animation:
        typing 4s steps(32),infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 18ch;
    }
}

div.space {

    width: 600px;
    height: 600px;

    position: relative;
}

div.earth {

    width: 120px;
    height: 120px;

    background-color: cornflowerblue;
    border-radius: 50%;

    position: absolute;

    left: 240px;
    top: 240px;
}

div.star {

    position: absolute;

    left: 300px;
    top: 300px;

    color: white;
    font-size: 30pt;

    animation: orbit 12s linear infinite;
}

@keyframes orbit {

    from {
        transform:
            rotate(0deg)
            translateX(220px)
            rotate(0deg);
    }

    to {
        transform:
            rotate(360deg)
            translateX(220px)
            rotate(-360deg);
    }
}

div.gallery {
    width: 100vw;
    height: 800px;
    overflow: hidden;
    position: relative;
}

div.track {
    display: flex;
    width: fit-content;
    animation:
        movegallery 30s linear infinite alternate;
}

div.track img {
    width: 800px;
    height: 800px;
    flex-shrink: 0;
    object-fit: cover;
}

@keyframes movegallery {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% + 100vw));
    }
}